.card{
  width: 150px;
  margin: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
}

.card img{
  max-width: 160px;
  max-height: 140px;
  padding: 10px;
}

.quantity{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

h4 {
  margin: 0;
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
}
